// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');
// Variables
@import "variables";
// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  max-width: 1200px;
  margin: 0 auto;
  //border: 0.5px solid #444;
  font-family: 'Merriweather Sans', sans-serif;
  min-height: 100vh;
}

.navbar-inverse {
  .navbar-nav >
  li >
  a {
    color: #FFF;
  }
}

.custom-navbar {
  margin-bottom: 0;
}

.card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  background-color: $color-white;
  margin-bottom: 1em;
  padding: 1em;
}

.card-profile {
  padding: 1em;
}

#section-searching {
  background-color: $color-blue;
  text-align: center;
  padding: 2em 0;

  h1, h2, h3, h4, h5, h6 {
    color: $color-semi-black;
  }

  input[name=buscar] {
    font-size: 18px;
  }
}

#section-info {
  background-color: $color-orange;
  padding: 2em 0;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: $color-white;
  }
}

#section-info_element {
  text-align: center;
  color: #FFF;
  font-size: 25px;

  @media(max-width: 768px) {
    margin-bottom: 1em;
  }

  .circle-for-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    border-radius: 50%;
    background-color: $color-white;

    i {
      color: $color-orange;
      font-size: 30px;
    }
  }
}

#section-support {
  text-align: center;
  padding: 2em 0;
  border-left: 1px solid lighten(#000, 60%);
  border-right: 1px solid lighten(#000, 60%);

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: $color-semi-black;
  }
}

footer {
  background: #000;
  color: #9d9d9d;
  padding: 1em;

  span {
    font-size: 18px;
    &:hover {
      color: #FFF;
    }
  }

}

#section-login {
  background-color: $color-white;
  //border: 1px solid $color-semi-black;
  padding: 1em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    text-align: inherit;
    color: $color-semi-black;
  }

  .btn-github {
    background-color: $color-semi-black;
    color: $color-white;
    border-radius: 3px;
    padding: 10px 30px;
  }
}

#section-about {
  background-color: $color-white;
  padding: 1em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#section-profile {

  margin-top: 1em;

  .img-container {
    @media(max-width: 480px) {
      width: 50%;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      width: 30%;
    }

    width: 50%;
    margin: 2em auto;
  }

  #section-profile_info {
    text-align: center;
    margin: 2em 0;

    @media (min-width: 769px) {
      padding: 1em;
      text-align: left;
    }

    .profile-name {
      font-weight: 700;
    }
  }

}

#section-resources {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;

  .options-heading {
    margin: 1em 0;
  }

}

.nav-justified > li > a {
  border: 1px solid #ddd;
}

#section-busqueda {
  margin-top: 1em;
  padding: 2em;
}

hr.styled-hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.styled-hr:after {
  content: "§";
  content: "RESULTADOS";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
  background: #f5f8fa;
}

.btn-filtro {
  display: block;
  float: right;
}

.filter-container {
  display: none;
}

.span-left {
  margin-left: 1em;
}

.text-gray {
  color: #9d9d9d;
}

.color-yellow {
  color: yellow;
}

.float-right {
  float: right;
}

.btn-link {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 0.5em 3em;
  font-weight: bold;
  &:hover {
    border: 1px solid #444;
    border-radius: 5px;
    background: #fdfdfd;
    text-decoration: none;
    background: #666;
    color: white;
  }
}

.form-inline {
  display: inline-block;
}

.btn-default {
  border: 1px solid #AAA;
}

.btn-github {
  color: #fff;
  background-color: #2b2b2b;
  border-color: #444
}

.btn-github.focus, .btn-github:focus {
  color: #fff;
  background-color: #333;
  border-color: #444
}

.btn-github:hover {
  color: #fff;
  background-color: #333;
  border-color: #444
}

.btn-github.active, .btn-github:active, .open > .dropdown-toggle.btn-github {
  color: #fff;
  background-color: #333;
  border-color: #444
}

.btn-github.active.focus, .btn-github.active:focus, .btn-github.active:hover, .btn-github:active.focus, .btn-github:active:focus, .btn-github:active:hover, .open > .dropdown-toggle.btn-github.focus, .open > .dropdown-toggle.btn-github:focus, .open > .dropdown-toggle.btn-github:hover {
  color: #fff;
  background-color: #444;
  border-color: #444
}

.btn-github.active, .btn-github:active, .open > .dropdown-toggle.btn-github {
  background-image: none
}

.btn-github.disabled.focus, .btn-github.disabled:focus, .btn-github.disabled:hover, .btn-github[disabled].focus, .btn-github[disabled]:focus, .btn-github[disabled]:hover, fieldset[disabled] .btn-github.focus, fieldset[disabled] .btn-github:focus, fieldset[disabled] .btn-github:hover {
  background-color: #2b2b2b;
  border-color: #444
}

.btn-github .badge {
  color: #2b2b2b;
  background-color: #fff
}

.btn-gitlab {
  color: #fff;
  background-color: #FC6D26;
  border-color: #FC6D26
}

.btn-gitlab.focus, .btn-gitlab:focus {
  color: #fff;
  background-color: #E24329;
  border-color: #FC6D26
}

.btn-gitlab:hover {
  color: #fff;
  background-color: #E24329;
  border-color: #FC6D26
}

.btn-gitlab.active, .btn-gitlab:active, .open > .dropdown-toggle.btn-gitlab {
  color: #fff;
  background-color: #E24329;
  border-color: #FC6D26
}

.btn-gitlab.active.focus, .btn-gitlab.active:focus, .btn-gitlab.active:hover, .btn-gitlab:active.focus, .btn-gitlab:active:focus, .btn-gitlab:active:hover, .open > .dropdown-toggle.btn-gitlab.focus, .open > .dropdown-toggle.btn-gitlab:focus, .open > .dropdown-toggle.btn-gitlab:hover {
  color: #fff;
  background-color: #FC6D26;
  border-color: #FC6D26
}

.btn-gitlab.active, .btn-gitlab:active, .open > .dropdown-toggle.btn-gitlab {
  background-image: none
}

.btn-gitlab.disabled.focus, .btn-gitlab.disabled:focus, .btn-gitlab.disabled:hover, .btn-gitlab[disabled].focus, .btn-gitlab[disabled]:focus, .btn-gitlab[disabled]:hover, fieldset[disabled] .btn-gitlab.focus, fieldset[disabled] .btn-gitlab:focus, fieldset[disabled] .btn-gitlab:hover {
  background-color: #FC6D26;
  border-color: #FC6D26
}

.btn-gitlab .badge {
  color: #FC6D26;
  background-color: #fff
}

.alert-fixed {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 40%;
  border-radius: 0px;
}